In [ ]:
import statsmodels.api as sm

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style
from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.read_csv("DATA.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,11/30/2021,335.320007,337.779999,328.989990,330.589996,327.521057,42885600
1,12/1/2021,335.130005,339.279999,329.390015,330.079987,327.015808,33337600
2,12/2/2021,330.299988,333.489990,327.799988,329.489990,326.431274,30766000
3,12/3/2021,331.989990,332.700012,318.029999,323.010010,320.011444,41779300
4,12/6/2021,323.950012,327.450012,319.230011,326.190002,323.161926,30032600
...,...,...,...,...,...,...,...
247,11/22/2022,243.589996,245.309998,240.710007,245.029999,245.029999,19665700
248,11/23/2022,245.110001,248.279999,244.270004,247.580002,247.580002,19508500
249,11/25/2022,247.309998,248.699997,246.729996,247.490005,247.490005,9200800
250,11/28/2022,246.080002,246.649994,240.800003,241.759995,241.759995,24778200
251,11/29/2022,241.399994,242.789993,238.210007,240.330002,240.330002,17956300

In [ ]:
y = df['Volume']
x = df[['High','Low']]

In [ ]:
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [ ]:
model.intercept_

13306198.944704853

In [ ]:
model.coef_

array([ 2351670.60355375, -2348768.48272206])

In [ ]:
model.score(x, y)

0.43496254438625426

In [ ]:
x = sm.add_constant(x)
model = sm.OLS(y, x).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Volume   R-squared:                       0.435
Model:                            OLS   Adj. R-squared:                  0.430
Method:                 Least Squares   F-statistic:                     95.84
Date:                Fri, 09 Dec 2022   Prob (F-statistic):           1.36e-31
Time:                        11:02:21   Log-Likelihood:                -4370.7
No. Observations:                 252   AIC:                             8747.
Df Residuals:                     249   BIC:                             8758.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.331e+07   4.87e+06      2.732      0.007    3.71e+06    2.29e+07
High        2.352e+06    1.7e+05     13.820      0.000    2.02e+06    2.69e+06
Low        -2.349e+06   1.72e+05    -13.665      0.000   -2.69e+06   -2.01e+06
==============================================================================
Omnibus:                      122.010   Durbin-Watson:                   1.104
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              714.808
Skew:                           1.871   Prob(JB):                    6.04e-156
Kurtosis:                      10.354   Cond. No.                     3.67e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.67e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)