In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib import style
from sklearn.linear_model import LinearRegression
import math

In [ ]:
df = pd.read_csv("DATA.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,11/30/2021,335.320007,337.779999,328.989990,330.589996,327.521057,42885600
1,12/1/2021,335.130005,339.279999,329.390015,330.079987,327.015808,33337600
2,12/2/2021,330.299988,333.489990,327.799988,329.489990,326.431274,30766000
3,12/3/2021,331.989990,332.700012,318.029999,323.010010,320.011444,41779300
4,12/6/2021,323.950012,327.450012,319.230011,326.190002,323.161926,30032600
...,...,...,...,...,...,...,...
247,11/22/2022,243.589996,245.309998,240.710007,245.029999,245.029999,19665700
248,11/23/2022,245.110001,248.279999,244.270004,247.580002,247.580002,19508500
249,11/25/2022,247.309998,248.699997,246.729996,247.490005,247.490005,9200800
250,11/28/2022,246.080002,246.649994,240.800003,241.759995,241.759995,24778200
251,11/29/2022,241.399994,242.789993,238.210007,240.330002,240.330002,17956300

In [ ]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [ ]:
model = LinearRegression()
model.fit(df[['Open', 'High', 'Low', 'Close', 'Adj Close']], df['Volume'])

LinearRegression()

In [ ]:
w = model.coef_
b = model.intercept_
w, b

(array([  -124759.62879154,   1817219.51972755,  -1767107.54442664,
         10203971.68015406, -10396174.42468868]), 74883012.20109853)

In [ ]:
y = df['Volume']
x = df[['Open', 'High', 'Low', 'Close', 'Adj Close']]
x = sm.add_constant(x)
model = sm.OLS(y, x).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Volume   R-squared:                       0.529
Model:                            OLS   Adj. R-squared:                  0.519
Method:                 Least Squares   F-statistic:                     55.23
Date:                Fri, 09 Dec 2022   Prob (F-statistic):           2.53e-38
Time:                        11:08:33   Log-Likelihood:                -4347.8
No. Observations:                 252   AIC:                             8708.
Df Residuals:                     246   BIC:                             8729.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       7.488e+07   9.95e+06      7.527      0.000    5.53e+07    9.45e+07
Open       -1.248e+05   2.61e+05     -0.478      0.633   -6.39e+05    3.89e+05
High        1.817e+06   3.12e+05      5.827      0.000     1.2e+06    2.43e+06
Low        -1.767e+06    2.6e+05     -6.787      0.000   -2.28e+06   -1.25e+06
Close        1.02e+07    1.5e+06      6.814      0.000    7.25e+06    1.32e+07
Adj Close   -1.04e+07   1.49e+06     -6.978      0.000   -1.33e+07   -7.46e+06
==============================================================================
Omnibus:                      137.642   Durbin-Watson:                   1.076
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1052.932
Skew:                           2.058   Prob(JB):                    2.28e-229
Kurtosis:                      12.129   Cond. No.                     1.31e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.31e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)